<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading && relevantPost">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
          <ion-card 
          [routerLink]="['/', 'posts', 'tabs', 'discover', relevantPost.id]" 
          routerDirection="forward" 
          lines="none"
          no-padding>
              <ion-img [src]="relevantPost.imgUrl"></ion-img>
              <ion-card-header>
                <ion-card-title>{{relevantPost.title}}</ion-card-title>
                <ion-card-subtitle>
                  <ion-row>
                  <ion-col size-md="2">
                      <ion-icon name="calendar"></ion-icon>
                      <ion-text color="teritiary" class="space-left">{{relevantPost.date | date}}</ion-text>
                  </ion-col>
                  <ion-col size-md="2">
                      <ion-icon name="pin"></ion-icon>
                        <ion-text color="teritiary" class="space-left">{{relevantPost.location}}</ion-text>
                  </ion-col>
                  <ion-col size-md="2" >
                    <ion-icon name="walk"></ion-icon>
                    <ion-text color="teritiary" class="space-left">{{ postGoing[relevantPost.id] }}</ion-text>
                  </ion-col>
                </ion-row>
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>

            <ion-card *ngFor="let post of listedPosts" 
          [routerLink]="['/', 'posts', 'tabs', 'discover', post.id]" 
          routerDirection="forward" 
          lines="none"
          no-padding>
              <ion-card-header>
                <ion-card-title>{{post.title}}</ion-card-title>
              <ion-card-subtitle>
                <ion-row>
                  <ion-col size-md="2">
                      <ion-icon name="calendar"></ion-icon>
                      <ion-text color="teritiary" class="space-left">{{post.date | date}}</ion-text>
                  </ion-col>
                  <ion-col size-md="2">
                      <ion-icon name="pin"></ion-icon>
                        <ion-text color="teritiary" class="space-left">{{post.location}}</ion-text>
                  </ion-col>
                  <ion-col size-md="2" >
                    <ion-icon name="walk"></ion-icon>
                    <ion-text color="teritiary" class="space-left">{{ post.usersPended.length }}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-card-subtitle>
                
              </ion-card-header>

            </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
