<ion-header>
  <ion-toolbar>
    <ion-title> {{ !isLogin ? 'Signup' : 'Login'}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form">


    <ion-grid>
      <ion-row>
      <ion-col size-md="6" offset-md="3">
        
        <ion-list> 
          <ion-item *ngIf="!isLogin">
            <ion-label position="floating">name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">password</ion-label>
            <ion-input type="password" formControlName="pwd"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button type="button" 
                      color="primary" 
                      fill="clear" 
                      expand="full" 
                      (click)="onSwitchAuthMode()">switch to {{ isLogin ? 'Signup' : 'Login'}}</ion-button>
          <ion-button (click)="onProceed()"
                      color="primary" 
                      *ngIf="!isLoading" 
                      expand="block" 
                      fill="outline" >{{ !isLogin ? 'Signup' : 'Login'}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</form>

</ion-content>
